body{ 
  font-family: 'Open Sans', sans-serif;
  background:#eee;
  padding-top: 70px; 
}

.bt-book-nav{ 
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #308bce;
  border-color: #463265;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
  height:80px;
}
.bt-book-nav .navbar-brand{
  color:#fff;
  font-size:28px;
  margin-top:12px;
} 

.site{ 
  width:780px;
  border: solid 1px #ddd;
  margin:40px auto;
  padding:20px 80px 80px 80px;
  text-align:justify;
  background:#fff;
}
.chapter{ 
  font-size:18px;
  line-height:24px;
}

.chapter-number{ 
  float:right;
  color:#999;
  font-weight:normal;
}
.chapter-title{ 
  margin:80px 0px 20px;
  font-size:30px;
  line-height:40px;
}
.chapter-author{ 
  margin-bottom:60px;
  color:#333;
}

.chapter-nav{ 

  position:fixed;
  top:80px;
  left:0px;
  bottom:0px;
  width:280px;
  background:#444;
  color:#eee;
  text-align:left;
  border-right:solid 1px #000;
  padding-top:15px;
}
.chapter-nav ul{ 
  margin:0px;
  padding:0px;
}
.chapter-nav li{
  height:50px;
  border-bottom:solid 1px #333;
  font-size:12px;
  padding:5px;
  margin:0px;
  padding-left:5px;
}