body{
  font-family: 'NewCaledoniaLT', sans-serif;
  background:#fff;
  color:#333;
  font-size: 18px;
}

h1, h2, h3, h4, h5 {
  font-family: 'TradeGothicLTCom-Bd2';
}

a, a:visited{
  color:#333;
}

a:hover,
div.menu-btn:hover,
.return-top:hover {
  color: #bd2961;
  text-decoration: none;
}

div.clear{
  clear:both;
}
.bt-book-nav{
  background-color: #b9e0ea;
  height:90px;
}
.bt-book-nav .navbar-brand{
  color:#fff;
  font-size:28px;
  margin-top:12px;
}

div.menu-bar{
  padding:10px 0px;
  height:35px;
}
div.menu-btn{
  text-transform:uppercase;
  font-family: 'TradeGothicLTCom-Bd2';
  font-weight:bold;
  cursor:pointer;
  margin-top: 12px;
}
.navbar-nav .menu-btn{
  margin-top:22px;
  width: 235px;
}
div.menu-bar .menu-btn.menu-icon,
div.nav .menu-btn.menu-icon{
  background-image: url('/images/menu_icon_sprite.png');
  background-repeat: no-repeat;
  background-position: 100% 0%;
  display: block;
  background-size: 20px;
  height: 18px;
  padding-right: 28px;
}
div.menu-bar .menu-btn.menu-icon:hover,
div.nav .menu-btn.menu-icon:hover {
  background-position: 100% -20px;
}

.navbar-brand{
  padding:0px;
}
.navbar-brand img{
  width: 140px;
  margin-left: 12px;
}
div.byline{
  margin-bottom:10px;
  font-family: 'NewCaledoniaLT-Italic';
}

div.navbar-header{
  max-width:980px;
  margin:0px auto;
  float:inherit;
}
nav.navbar{
  transition:all 0.5s ease-in-out;
}
nav.navbar.withsidebar{
  right:280px;
  transition:all 0.5s ease-in-out;
}

div.header{

  background:#b8e0eb;
  z-index:0;
  position:relative;
  overflow:hidden;
  padding-bottom:100px;
}
div.header div.about{
  margin-top:40px;
  position:relative;
  z-index:100;
}
div.header h2{
  margin-top:0px;
  font-size:32px;
}

div.cloud{
  width:243px;
  height:161px;
  background:url("/images/cloud.png");
  position:absolute;
  top:100px;
  z-index:-5;
}


@-webkit-keyframes cloud-drift0 {
  0% {
    left:-300px;
  }
  100%{
     left:55%;
  }
}
@-webkit-keyframes cloud-drift1 {
  0% {
    left:120%;
  }
  100%{
     left:7%;
  }
}
@-webkit-keyframes cloud-drift2 {
  0% {
    left:-300px;
  }
  100%{
     left:85%;
  }
}

.drift{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
}
div.offset0{
  -webkit-animation-name: cloud-drift0;
  -webkit-animation-duration: 6s;
  top:50px;
  left:55%;
}
div.offset1{
  -webkit-animation-name: cloud-drift1;
  -webkit-animation-duration: 6s;
  top:280px;
  left:7%;
}
div.offset2{
  -webkit-animation-name: cloud-drift2;
  -webkit-animation-duration: 6s;
  top:530px;
  left:85%;
}

.btn-primary{
  background-color:#bd2961;
  border-color:#bd2961;
  font-family: 'TradeGothicLT';
  font-size:20px;
  line-height: 20px;
  padding: 13px 15px;
}
div.btn-read{
  background-image:url("/images/btn-arrow.png");
  background-repeat: no-repeat;
  background-position: 190px;
  background-size: 28px;
  padding-right:50px;
}

.btn-primary:hover{
  background-color:#e33175;
  border-color: transparent;
}
div.btn-read:active{
  background-image:url("/images/btn-arrow.png");
}

ul.buy-links{
  list-style:none;
  margin-top:15px;
  padding-left:0px;
  font-family: 'TradeGothicLT';
}
ul.buy-links li{
  padding:3px 0px;
  margin:7px 0px;
}
ul.buy-links img {
  width: 30px;
  margin-right: 5px;
}
ul.buy-links .icon-pdf img {
  width: 28px;
  margin-right: 7px;
}

div.content{
  max-width:980px;
  margin:auto;
}

div.chapter{
  margin-top:150px;
  color:#333;
}

div.title{
  text-align:center;
}

div.title img {
  width: 500px;
}

div.byline{
  text-align:center;
}
div.city-graph{
  position:absolute;
  bottom:-28px;
  text-align:center;
  width:100%;
}

div.city-graph img {
  max-width: 980px;
  width:100%;
}

div.contributors,
div.critics,
div.about-book {
  padding: 50px 0px 70px;
}

div.contributors{
  background:#f3f4f3;
  color:#404040;

}
div.section-heading{
  text-align:center;
  padding:30px 0px;
  text-transform: uppercase;
}

div.section-heading img {
  width: 50px;
}

div.contributors .authors{
  max-width:980px;
  margin:auto;
}

div.contributors li {
  font-size:18px;
  width:50%;
  min-width:400px;
  float:left;
  list-style:none;
  padding:0px;
  font-family: 'NewCaledoniaLT-Italic';
  color: #777;
}
div.contributors li img{
  max-height:70px;
  float:left;
  margin:10px 10px 50px 0px;
}
div.contributors div.name{
  font-family: 'TradeGothicLTCom-Bd2';
  font-size: 22px;
  color:#333;
}


div.critics{
  background:#B8EBBC;
  color:#404040;
  padding-bottom: 50px;
}
div.critics .quote {
  padding: 10px;
}
div.critics .attribution{
  text-align:right;
  font-family: 'NewCaledoniaLT-Italic';
  padding-bottom:25px;
}

div.about-book{
  background:#EBEBB8;
  color:#404040;
}



.site{
  width:780px;
  border: solid 1px #ddd;
  margin:40px auto;
  padding:20px 80px 80px 80px;
  text-align:justify;
  background:#fff;
}
.chapter-text{
  font-size:20px;
  line-height:30px;
  overflow:hidden;
  padding-bottom:30px;
}
.chapter-text h2,
.chapter-text h3,
.chapter-text h4{
  margin-top:50px;
}

.chapter-text p {
  margin-bottom: 30px;
}

.chapter-number{
  font-size:24px;
  font-family: 'TradeGothicLT';
  text-transform:uppercase;
}
.chapter .chapter-title{
  margin:10px 0px 20px;
  font-size:46px;
  line-height:51px;
}
.chapter blockquote {
  font-family: 'NewCaledoniaLT-Italic';
  border-left: 0px;
}

.chapter-author{
  margin-bottom:60px;
  color:#333;
}

.page{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  transition:all 0.5s ease-in-out;
}
.page.withsidebar{
  right:280px;
  transition:all 0.5s ease-in-out;
}
.chapter-nav{
  position:fixed;
  top:0px;
  right:-280px;
  bottom:0px;
  width:280px;
  background:#404040;
  color:#eee;
  text-align:left;
  border-right:solid 1px #000;
  padding-top:4px;
  transition:all 0.5s ease-in-out;
  overflow:auto;
  z-index:2000;
}
.chapter-nav.show{
  transition:all 0.5s ease-in-out;
  right:0px;
}
.chapter-nav .close{
  font-size:36px;
  color:#fff;
  text-align:left;
  float:left;
  margin-left:20px;
}

.chapter-nav ul{
  margin:0px;
  padding:10px 0px 0px 10px;
}
.chapter-nav li{
  border-bottom:solid 1px #333;
  color:#ccc;
  padding:8px;
  margin:0px;
  font-size:14px;
  text-decoration:none;
  list-style:none;
  font-family: 'TradeGothicLT';
}
.chapter-nav ul li:hover {
  color: #fff;
}
.chapter-nav li .nav-chapter-author{
  font-size: 13px;
  font-family: 'NewCaledoniaLT-Italic';
}

.chapter-nav li .nav-part{
  font-family: 'TradeGothicLTCom-Bd2';
}

.footer{
  background:#404040;
  color:#ccc;
  font-family: 'TradeGothicLT';
  font-size: 14px;
  text-align:left;
  padding:20px 0px 5px;
}
.footer a{
  color: #ccc;
}
.footer a:hover{
  color: #fff;
}

.author{
  margin-top:30px;
  border-bottom:solid 1px #999;
  padding-bottom:20px;
}
.author img{
  margin-bottom:10px;
  width: 100px;
}
.author .name{
  font-family: 'TradeGothicLTCom-Bd2';
  font-size:18px;
}

.author .job-title,
.author .employer,
.author .about {
  font-family: 'NewCaledoniaLT-Italic';
  font-size: 14px;
  line-height: 18px;
}

.author .job-title,
.author .employer {
  color: #777;
}

.author .twitter{
  background-image: url("/images/twitter.png");
  background-repeat: no-repeat;
  background-position: top 5px left;
  padding-left:18px;
}
.author .twitter a{
  text-decoration:none;
  font-size: 16px;
}
.author .about{
  margin:10px 0px;
}
.in-chapter-nav{
  font-size:16px;
}

.in-chapter-nav h4 {
  margin-top: 25px;
}

.in-chapter-nav ul{
  padding:0px;
  margin:0px;
}
.in-chapter-nav ul li{
  font-family: 'TradeGothicLT';
  font-size: 13px;
  padding:3px 0px;
  list-style:none;
  cursor:pointer;
}
.in-chapter-nav ul li:hover{
  color: #db2961;
}

.in-chapter-sidebar-content .chapter-nav-links,
.mobile-in-chapter-links .chapter-nav-links {
  padding-bottom: 20px;
  border-bottom: solid 2px #404040;
}
.in-chapter-sidebar-content .chapter-nav-links a,
.mobile-in-chapter-links .chapter-nav-links a {
  font-family: 'TradeGothicLT';
  text-transform: uppercase;
  font-size: 13px;
  float: left;
}

.in-chapter-sidebar-content .chapter-nav-links a:last-child,
.mobile-in-chapter-links .chapter-nav-links a:last-child {
  float: right;
}

.in-chapter-sidebar{
  position:relative;
}
.in-chapter-sidebar-content{
  width:100%;
  min-width:150px;
  overflow:auto;

}
.mobile-in-chapter-links{
  display:none;
}

.chapter-nav li.current-page{
  font-weight:bold;
  color:#fff;
}
.email{
  text-align:center;

}
.email input[type=email]{
  width:300px;
  text-align:left;
  padding:5px;
  height:40px;
  border:solid 1px #eee;
  margin-right:10px;
}
.email input.btn{
  padding:9px 15px;
  margin-top:1px;
}
.email h3{
  margin:20px 0px;
}

.return-top {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 0;
  font-size: 10px;
  font-family: 'TradeGothicLTCom-Bd2';
  cursor: pointer;
}
