div.content{ 
  width: 100%
}
div.header{ 
  height:inherit;
}
div.menu-btn span{ 
  display:none;
}
div.navbar-nav div.menu-btn.menu-icon,
div.menu-bar div.menu-btn.menu-icon { 
  width:50px;
  background-position-x:0px; 
}

.city-graph{ 
  display:none;
}
div.contributors,
div.critics,
div.about-book,
div.footer{
  padding-left:10px;
  padding-right:10px;
}

div.btn-read {
  background-image: none;
  padding-right: 15px;
  text-align: center;
}

div.contributors .authors{ 
  width:100%;
}
div.contributors li{ 
  width:100%;
  margin:30px 10px 0px -35px;
  min-width:300px;
}
div.contributors li img{
  margin-bottom:60px;
} 
div.title img{ 
  width:90%;
}
div.book-links{ 
  padding:50px 20px;
}
div.mobile-in-chapter-links{ 
  display:block;
  margin:-40px 5px 50px;
}
div.in-chapter-sidebar-content{ 
  width:100%;
}
div.in-chapter-sidebar-content .chapter-nav-links {
  margin-bottom: 30px;
  border-top: solid 2px #404040;
  border-bottom: 0px;
  padding-top: 7px;
}
div.in-chapter-nav{ 
  display:none;
}
nav.navbar.withsidebar,
div.navbar.withsidebar{ 
  right:0px;
}
div.page.withsidebar{ 
  right:0px;
}
div.btn-read{ 
  width:100%;
}
.email{ 
  text-align:center;
}
.email input[type=email]{ 
  width:100%;
  text-align:left;
  padding:5px;
  height:40px;
  border:solid 1px #eee;
  margin-right:10px;
  -webkit-appearance: none;
}
.email input.btn{ 
  width:100%;
  margin-top:10px;
}
.email h3{ 
  margin:20px 0px;
}
.author {
  margin-top: 0px;
}

