---
layout: default
title: Beyond Transparency
---

<header>
  <div class="header">
    <div class="cloud drift offset0"></div>
    <div class="cloud drift offset1"></div>
    <div class="cloud drift offset2"></div>
    
    <div class="content">
      <div class="menu-bar">
        <div class="menu-btn pull-right">Menu <span class="menu-icon"></span></div>
      </div>

      <div class="byline">A book edited by Brett Goldstien and Lauren Dyson</div>

      <div class="title">
        <img src="/images/beyondtransparency-large.png" />
      </div>

      <div class="about">
        <div class="col-md-9">
          <h2>Open Data and the Future of Civic Innovation</h2>
          <p>
A social sweater vest incubator could be great RT @pahlkadot.  Mad Men apps built by cool graphics through civic leadership can you write a blog post? Pandas through communication story ideate if you overlay incubator Google and #civic leaders recruiting awesome innovation through where's my blog post? A social sweater vest incubator could be great RT @pahlkadot.  Mad Men apps built by cool graphics through civic leadership can you write a blog post? Pandas through communication story ideate if you overlay incubator Google and #civic leaders recruiting awesome innovation through where's my blog post?
          </p>
        </div>
        <div class="col-md-3">
          <a href="/toc.html"><div class="btn btn-primary btn-read">Read the book online</div></a>
          <ul class="buy-links">
            <li class="icon-buy"><a href="http://amazon.com" target="_blank">Buy it on Amazon</a></li>
            <li class="icon-pdf"><a href="/BeyondTransparency.pdf">Get the PDF</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>      
    </div>
  </div>
  <div class="city-graph">
    <img src="/images/city.png" />
  </div>

</header>

<section class="contributors">
  <div class="contributors">
    <div class="content">
      <div class="section-heading">
        <img src="/images/contributors.png" />
        <h3>Some of our contributors</h3>
      </div>
      <ul class="authors">

        {% for page in site.pages %}
          {% if page.layout == "chapter" %}
            {% if page.featured == true %}
        <a href="{{page.url}}" >
            <li>
               <div>
                 <img class="img-circle" src="{{ page.author_photo_url }}" />
                 <div class="name">{{ page.author }}</div>
                 <div class="job-title">{{ page.author_job }}</div>
                 <div class="employer">{{ page.author_employer }}</div>
                 <div class="chapter-title">{{ page.title }}</div>
               </div>
             </li>
</a>
           {% endif %}
        {% endif %}
      {% endfor %}
             
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</section>

<section class="critics">
  <div class="critics">
    <div class="content">
      <div class="section-heading">
        <img src="/images/quote.png" />
        <h3>What critics have to say</h3>    
      </div>
      <div class="quote col-md-5 col-md-offset-1">
        <p>“Beyond Transparency combines the inspirational glow and political grit of Profiles in Courage with the clarity of an engineer’s calm explanation of how something technical actually works…. This compilation presents us with a great deal to admire, ample provocation, and wise guidance from a group of remarkable individuals.”</p>
        <div class="attribution">&mdash; Susan Crawford, author of Captive Audience</div>
      </div>
      <div class="quote col-md-5">
<p>“Just as he did during his time in my administration, Goldstein has brought together industry leaders to discuss issues of relevance in the open data movement and the practical implications of implementing these policies… This book will help continue the work to make open government a reality across the country.”</p>
        <div class="attribution">&mdash; Mayor Rahm Emanuel, City of Chicago</div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section>
