<div class="chapter-nav">
  <div class="close">&rarr;</div>
  <div class="clear"></div>
  <ul >
    {% for page in site.pages %}
      {% if page.layout == "chapter" %}
    
    <a href="{{ page.url }}"><li>
        {% if page.ispart == true %}
          <div class="nav-part">PART {{ page.part }}</div>
        {% endif %}
        {{ page.title }}<div class="nav-chapter-author">
            {% for a in page.author %}
              {{a.name}}{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </div></li></a>
      {% endif %}
    {% endfor %}
  </ul>
</div> 
