---
layout: default
---
{% include chaptermenu.html %}

<div class="page">
{% include header.html %}

<div class="chapter content">

  <div class="col-md-9">

    {% if page.chapter != 0 %}
    <h4 class="chapter-number">Chapter {{page.chapter}}</h4>
    {% endif %}
    <h1 class="chapter-title">{{page.title}}</h1>

    <div class="chapter-text">
      {{ content }}
    </div>
  </div>
  <div class="col-md-3 in-chapter-sidebar">
    <div class="in-chapter-sidebar-content">
      <div class="chapter-nav-links">
        {% capture prev %}{{page.chapter | minus:1  }}{% endcapture %}
        {% capture next %}{{page.chapter | plus:1  }}{% endcapture %}
        {% for p in site.pages %}
        {% capture counter %}{{p.chapter | plus:0  }}{% endcapture %}

          {% if p.layout == "chapter" and counter != "0" and counter ==  prev  %}
  
            <a href="{{ p.url }}">&lt;- Chap {{ p.chapter}}</a>
          {% endif %}
          {% if counter == next %}  
            <a href="{{ p.url }}">Chap {{ p.chapter}} -&gt;</a>
          {% endif %}
        {% endfor %}
      </div>
      {% if !page.author %}
      {% for a in page.author %}
      <div class="author">
        <img class="img-circle" src="{{ a.photo_url }}" />
        <div class="name">{{ a.name }}</div>
        <div class="job-title">{{ a.job }}</div>
        <div class="employer">{{ a.employer }}</div>
        <div class="about">{{ a.about }}</div>
        
        <div class="twitter"><a href="http://twitter.com/{{g.twitter}}">@{{ a.twitter }}</a></div>
      </div>
      {% endfor %}
      <div class="in-chapter-nav">
        <h4>SKIP TO</h4>
        <ul class="sections">
        </ul>
      </div>
      {% endif %}         
    </div>
  </div>
</div>
<div class="clear"></div>

