---
layout: default
---
{% include chaptermenu.html %}

<div class="page">
{% include header.html %}

<div class="chapter content">

  <div class="col-md-9">


    {% if page.ispart == true %}
    <h4 class="chapter-number">Part {{page.part}}</h4>
    {% endif %}
    
    {% if page.chapter != 0 and page.chapter != 99 and page.ispart != true%}
    <h4 class="chapter-number">Chapter {{page.chapter}}</h4>
    {% endif %}

    
    <h1 class="chapter-title">{{page.title}}</h1>

    <div class="chapter-text">
      {{ content }}
    </div>
  </div>
  <div class="col-md-3 in-chapter-sidebar">
    <div class="in-chapter-sidebar-content">
      <div class="chapter-nav-links">
        {% capture current %}{{page.part | append:page.chapter }}{% endcapture %}
        {% assign prev = null %}
        {% assign output_next = false %}
        {% for p in site.pages %}
        
          {% capture counter %}{{p.part | append:p.chapter  }}{% endcapture %}

          {% if output_next == true and p.layout == "chapter" %}  
            <a href="{{ p.url }}">
             {% if p.ispart == true %}
                PART {{p.part}}
             {% else %}
 
               {% if p.chapter == 99 %}
                 APPENDIX
               {% else %}
                 CHAP {{p.chapter}}
               {% endif %}
             
             {% endif %}
             - &gt;</a>
            {% assign output_next = false %}
          {% endif %}

        
          {% if p.layout == "chapter" and counter ==  current  %}
        
            {% if prev != null %}
              <a href="{{prev.url}}"> &lt; -
              {% if prev.ispart == true %}
                PART {{prev.part}}
              {% else %}
                {% if prev.chapter == 0 %}
                  PREFACE
                {% else %}
                 CHAP {{prev.chapter}}
                {% endif %}

              {% endif %}
              </a>
            {% endif %}
            {% assign output_next = true %}
          {% endif %}
          {% assign prev = p %}
        {% endfor %}
      </div>
      {% if !page.author and page.ispart != true %}
      {% for a in page.author %}
      <div class="author">
        <img class="img-circle" src="{{ a.photo_url }}" />
        <div class="name">{{ a.name }}</div>
        <div class="job-title">{{ a.job }}</div>
        <div class="employer">{{ a.employer }}</div>
        <div class="about">{{ a.about }}</div>
        
        <div class="twitter"><a target="_blank" href="http://twitter.com/{{a.twitter}}">@{{ a.twitter }}</a></div>
      </div>
      {% endfor %}
      <div class="in-chapter-nav">
        <h4>SKIP TO</h4>
        <ul class="sections">
        </ul>
      </div>
      {% endif %}         
    </div>
  </div>
</div>
<div class="clear"></div>

