<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

      {{ content }}


      <div class="footer">
        <div class="content">
          <p>
            <em>Beyond Transparency</em> &mdash;  2013 Code for America 
          </p>
        </div>
      </div>
      <script src="js/bootstrap.min.js"></script>      
    </body>
</html>
